.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 60px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

box-shadow:0 8px 30px rgba(0,0,0,.25);

position:sticky;

top:0;

z-index:100;

}

.logo{

display:flex;

align-items:center;

gap:12px;

color:white;

}

.logo-icon{

font-size:30px;

color:#38bdf8;

}

.logo h2{

font-size:28px;

font-weight:700;

}

.nav-right{

display:flex;

align-items:center;

gap:30px;

}

.notification{

position:relative;

font-size:22px;

color:white;

}

.badge{

position:absolute;

top:-8px;

right:-8px;

background:#ef4444;

color:white;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:11px;

}

.profile{

display:flex;

align-items:center;

gap:12px;

color:white;

}

.profile-icon{

font-size:45px;

color:#38bdf8;

}

.profile h4{

font-size:16px;

}

.profile p{

font-size:13px;

color:#cbd5e1;

}