.navbar{

position:fixed;

top:0;

left:0;

right:0;

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 8%;

background:rgba(10,20,18,.75);

backdrop-filter:blur(20px);

border-bottom:1px solid rgba(255,255,255,.08);

z-index:999;

}

.logo{

display:flex;

align-items:center;

gap:15px;

}

.logoIcon{

font-size:40px;

}

.logo h2{

font-size:26px;

font-weight:700;

color:#fff;

}

.logo p{

font-size:13px;

color:#8ecdb2;

}

.navLinks{

display:flex;

gap:35px;

}

.navLinks li{

font-size:16px;

font-weight:500;

color:#ddd;

cursor:pointer;

position:relative;

transition:.35s;

}

.navLinks li::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

width:0;

height:2px;

background:#18b67c;

transition:.35s;

}

.navLinks li:hover{

color:#18b67c;

}

.navLinks li:hover::after{

width:100%;

}

.navRight{

display:flex;

align-items:center;

gap:15px;

}

.searchBox{

display:flex;

align-items:center;

gap:10px;

padding:12px 18px;

width:260px;

background:rgba(255,255,255,.08);

border-radius:50px;

border:1px solid rgba(255,255,255,.1);

}

.searchBox input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

font-size:15px;

}

.searchBox svg{

color:#18b67c;

}

.iconBtn{

width:48px;

height:48px;

border-radius:50%;

border:none;

background:#18b67c;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:18px;

transition:.3s;

}

.iconBtn:hover{

transform:translateY(-5px);

background:#11a26d;

box-shadow:0 12px 30px rgba(24,182,124,.4);

}