nav {
  background: #2563eb;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

nav h2 {
  font-size: 24px;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: #ffd700;
}