*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

.home{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );
}

.overlay{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home-card{

    width:700px;
    background:white;
    padding:45px;
    border-radius:18px;

    box-shadow:0 15px 40px rgba(0,0,0,.2);

    text-align:center;
}

.home-card h1{

    color:#0d47a1;
    margin-bottom:15px;
}

.subtitle{

    color:#555;
    font-size:18px;
    margin-bottom:30px;
}

.instructions{

    text-align:left;
    background:#f4f8ff;
    padding:25px;
    border-radius:12px;
    margin-bottom:30px;
}

.instructions h3{

    color:#1565c0;
    margin-bottom:15px;
}

.instructions ul{

    padding-left:20px;
}

.instructions li{

    margin:12px 0;
    color:#444;
    line-height:1.5;
}

.start-btn{

    background:#1565c0;
    color:white;

    border:none;

    padding:15px 35px;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.start-btn:hover{

    background:#0d47a1;
    transform:scale(1.05);
}