.result-container{
    min-height:100vh;
    background:linear-gradient(135deg,#4facfe,#00f2fe);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.result-card{
    width:700px;
    background:white;
    border-radius:15px;
    padding:40px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.result-card h1{
    color:#2e7d32;
    margin-bottom:15px;
}

.result-card h2{
    margin-top:30px;
    margin-bottom:20px;
    color:#1565c0;
}

.answers-list{
    margin-bottom:30px;
}

.answer-box{
    background:#f5f9ff;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
    text-align:left;
}

.answer-box strong{
    color:#0d47a1;
}

.answer-box p{
    margin-top:8px;
}

.result-card button{
    padding:12px 30px;
    background:#1976d2;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.result-card button:hover{
    background:#0d47a1;
}