.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(270px,1fr));
    gap:30px;
    padding:60px 8%;
    background:#f5f7fb;
}

.product-card{
    background:#ffffff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-info{
    padding:20px;
}

.product-info h2{
    color:#2563eb;
    font-size:24px;
    margin-bottom:10px;
}

.product-info h3{
    font-size:20px;
    margin-bottom:10px;
}

.product-info p{
    color:#16a34a;
    font-weight:600;
    margin-bottom:10px;
}

.product-info span{
    display:block;
    color:#6b7280;
    margin-bottom:20px;
}

.product-info button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
}

.product-info button:hover{
    background:#1d4ed8;
}